package dashboard_views

import "github.com/ppp3ppj/wywy/views/layout"

templ DashboardList() {
    <div>Hi!!! - Dashboard</div>
}
templ DashboardIndex(username string, fromProtected bool, cmp templ.Component) {
    @layout.Base(username, fromProtected, true) {
        @cmp
    }
}
