package partials

templ SideBar(fromProtected bool) {
    <!-- SideBar -->
    <aside class="sticky top-16 h-[calc(100vh-theme(spacing.16))] min-w-44 overflow-y-auto bg-base-200">
        <div>
        a
        </div>
    </aside>
}
