package errors_pages

import "github.com/ppp3ppj/wywy/views/layout"

templ Error401() {

}

templ ErorrIndex(
    username string,
    fromProtected,
    isError bool,
    cmp templ.Component,
    ) {
    @layout.Base(username, fromProtected, false) {
        @cmp
    }
}
