package register_components

templ EmailInlineValidation(emailData string) {
    <div hx-target="this" hx-swap="outerHTML">
        <div class='error-message' >Please enter a valid email address</div>
        <input id="email" name="email"  type="text" hx-post="/register/email" placeholder="Email" class="input input-bordered input-error w-full max-w-xs" value={ emailData } />
    </div> 
}
